.container {
  /* background: url(/photos/header-shapes\ mobile.png)  no-repeat;
  background-size: cover;
  position: absolute; */
  width: 375px;
  height: 718px;
}

.header {
  display: flex;
  top: 44px;
  bottom: 0.001px;
  justify-content: space-between;
  align-items: center;
}

.header a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.title {
  width: 85%;
  line-height: 1.4em;
  padding-top: 20%;
}

.title h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: rgba(23, 43, 77, 1);
}

.Main {
  background: url(/photos/header-shapes\ mobile.png) no-repeat;
  background-size: cover;
  position: relative;
  width: 375px;
  height: 597.15px;
}

.text {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  margin: 12px 0.001px;
}

.social > .hoverable {
  color: #7f8cff;
}

.media {
  display: flex;
}

.media > li {
  list-style: none;
}

.media > li > a :hover {
  border: 3px solid #6070ff;
}

.twi {
  position: absolute;
  left: 1.4%;
  right: 88.27%;
  top: 480px;
  bottom: 18.88%;
}

.git {
  position: absolute;
  left: 23.13%;
  right: 57.07%;
  top: 480px;
  bottom: 18.87%;
}

.mil {
  position: absolute;
  left: 16.47%;
  right: 67.2%;
  top: 483px;
  bottom: 19.21%;
}

.lin {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 33px;
  top: 480px;
}

.angel {
  position: absolute;
  left: 30%;
  right: 48.22%;
  top: 480px;
  bottom: 18.87%;
  background: #505f79;
}

.Main {
  padding-left: 10px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: -0.0000099px;
  color: #6070ff;
}

.hoverable:hover {
  text-decoration: underline;
}

.s-container {
  position: absolute;
  width: 375px;
  height: 2768px;
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: 640px auto 552px 596px;
  background-color: black;
}

.box {
  position: static;
  width: 327px;
  margin-top: 80px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 4%;
  background: #FFFFFF;
}

.box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snap {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  
  background: url(/photos/Snapshoot\ Portfolio\ \(1\).png) no-repeat;
  border-radius: 8px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  position: static;
  width: 295px;
  height: 288px;
  left: 16px;
  top: 248px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.Tonic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  position: static;
  width: 295px;
  height: 50px;
  left: 0px;
  top: calc(50% - 80px/2 - 104px);
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 17px;
}

.Tonic > .title {
  position: static;
  width: 295px;
  height: 36px;

  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2px 0px;
}

.Tonic > .title > h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  /* or 138% */
  
  
  /* Neutrals/N800 */
  
  color: #172B4D;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title1 {
  display: flex;
  align-items: flex-end;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  height: 50%;
  width: 100%;
  font-size: 20px;
}

ul > li {
  margin-right: 25px;
}

.can {
  list-style-type: none;
  color: rgba(52, 69, 99, 1);
  font-family: 'Poppins', sans-serif;
}

.back {
  color: rgba(122, 134, 154, 1);
  list-style-type: circle;
}

.quali {
  position: static;
  width: 100%;
  height: 50%;
  top: 8px;
  margin-top: -10%;
  /* Inside auto layout */
  
  /* flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px; */
}

.quali > ul {
  display: flex;
  padding-left: 0.001px;
  align-items: flex-start;
}

.para1 {
  position: static;
  width: 295px;
  height: 76px;
  
  
  /* Body / 3 */
  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* or 160% */
  
  
  /* Neutrals/N600 */
  
  color: #344563;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.Tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  
  position: static;
  width: 203px;
  height: 24px;
  left: 0px;
  top: 180px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0px;
}

.Tech > ul {
  display: flex;
  align-items: flex-start;
  list-style: none;
  padding: 0px;
}

.Tech > ul > li {
  background-color: rgba(235, 235, 255, 1);
  border-radius: 8px;
  color: #6070FF;
}

.Submission {
  position: static;
  width: 295px;
  height: 72px;
  left: 0px;
  top: 216px;
  display: flex;
  align-items: center;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0px;
}

.Submission > button {
  width: 130px;
  height: 44px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 8px;
  color: #396df2;
}

.box-1 {
  
}
.box-2 {
  
}
.box-3 {

}