.container {
  /* background: url(/photos/header-shapes\ mobile.png)  no-repeat;
  background-size: cover;
  position: absolute; */
  width: 375px;
  height: 718px;
}

.header {
  display: flex;
  top: 44px;
  bottom: 0.001px;
  justify-content: space-between;
  align-items: center;
}

.header a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.title {
  width: 85%;
  line-height: 1.4em;
  padding-top: 20%;
}

.title h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: rgba(23, 43, 77, 1);
}

.Main {
  background: url(/photos/header-shapes\ mobile.png) no-repeat;
  background-size: cover;
  position: relative;
  width: 375px;
  height: 597.15px;
}

.text {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  margin: 12px 0.001px;
}

.social > .hoverable {
  color: #7f8cff;
}

.media {
  display: flex;
}

.media > li {
  list-style: none;
}

.media > li > a :hover {
  border: 3px solid #6070ff;
}

.twi {
  position: absolute;
  left: 1.4%;
  right: 88.27%;
  top: 480px;
  bottom: 18.88%;
}

.git {
  position: absolute;
  left: 23.13%;
  right: 57.07%;
  top: 480px;
  bottom: 18.87%;
}

.mil {
  position: absolute;
  left: 16.47%;
  right: 67.2%;
  top: 483px;
  bottom: 19.21%;
}

.lin {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 33px;
  top: 480px;
}

.angel {
  position: absolute;
  left: 30%;
  right: 48.22%;
  top: 480px;
  bottom: 18.87%;
  background: #505f79;
}

.Main {
  padding-left: 10px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: -0.0000099px;
  color: #6070ff;
}

.hoverable:hover {
  text-decoration: underline;
}

.s-container {
  position: absolute;
  width: 375px;
  height: 2768px;
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: 640px 700px 640px 700px;
  background-color: black;
}

.box {
  position: static;
  width: 327px;
  margin-top: 80px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 4%;
  background: #FFFFFF;
}

.box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snap {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  
  background: url(/photos/first.png) no-repeat;
  border-radius: 8px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  position: static;
  width: 295px;
  height: 288px;
  left: 16px;
  top: 248px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.Tonic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  position: static;
  width: 295px;
  height: 50px;
  left: 0px;
  top: calc(50% - 80px/2 - 104px);
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 17px;
}

.Tonic > .title {
  position: static;
  width: 295px;
  height: 36px;

  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2px 0px;
}

.Tonic > .title > h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  /* or 138% */
  
  
  /* Neutrals/N800 */
  
  color: #172B4D;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title1 {
  display: flex;
  align-items: flex-end;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  height: 50%;
  width: 100%;
  font-size: 20px;
}

ul > li {
  margin-right: 25px;
}

.can {
  list-style-type: none;
  color: rgba(52, 69, 99, 1);
  font-family: 'Poppins', sans-serif;
}

.back {
  color: rgba(122, 134, 154, 1);
  list-style-type: circle;
}

.quali {
  position: static;
  width: 100%;
  height: 50%;
  top: 8px;
  margin-top: -10%;
  /* Inside auto layout */
  
  /* flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px; */
}

.quali > ul {
  display: flex;
  padding-left: 0.001px;
  align-items: flex-start;
}

.para1 {
  position: static;
  width: 295px;
  height: 76px;
  
  
  /* Body / 3 */
  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* or 160% */
  
  
  /* Neutrals/N600 */
  
  color: #344563;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.Tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  
  position: static;
  width: 203px;
  height: 24px;
  left: 0px;
  top: 180px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0px;
}

.Tech > ul {
  display: flex;
  align-items: flex-start;
  list-style: none;
  padding: 0px;
}

.Tech > ul > li {
  background-color: rgba(235, 235, 255, 1);
  border-radius: 8px;
  color: #6070FF;
}

.Submission {
  position: static;
  width: 295px;
  height: 72px;
  left: 0px;
  top: 216px;
  display: flex;
  align-items: center;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0px;
}

.Submission > button {
  width: 130px;
  height: 44px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 8px;
  color: #396df2;
}

.box-2 {
  /* Auto layout */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  
  position: static;
  /* width: 327px;
  height: 596px; */
  left: calc(50% - 327px/2);
  top: 754px;
  
  /* Neutrals/N0 */
  
  background: #FFFFFF;
  /* Neutrals/N40 */
  
  border: 1px solid #DFE1E6;
  box-sizing: border-box;
  border-radius: 16px;
  
  /* Inside auto layout */
  
  /* flex: none;
  order: 1;
  flex-grow: 0;
  margin: 88px 0px; */
}

.snap1 {
  background: url(/photos/second.png) no-repeat;
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.body1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  position: static;
  width: 295px;
  height: 124px;
  left: 0px;
  top: calc(50% - 124px/2 - 104px);
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.title2 {
  width: 50%;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin-top: -10px;
}

.quali1 > ul {
  display: flex;
  padding: 0px;
}

.box-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snap3 {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  
  background: url(/photos/third.png) no-repeat;
  border-radius: 8px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.box-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snap4 {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;

  background: url(/photos/fourth.png) no-repeat;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.t-container {
  position: absolute;
  width: 375px;
  height: 1263px;
  top: 3495px;
  border-top-right-radius: 10%;
  background-color: green;
  
  /* Neutrals/N0 */
  
  /* background: #FFFFFF; */
}

.Self {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  position: static;
  width: 327px;
  height: 409px;
  left: 24px;
  top: 14px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 24px;
}

.Intro {
  position: static;
  width: 327px;
  height: 101px;
  left: 0px;
  padding-top: 30px;
  
  /* Header / 2 */
  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 62px;
  /* or 130% */
  
  display: flex;
  align-items: center;
  
  /* Neutrals/N800 */
  
  color: #172B4D;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.Intro-p {
  position: static;
  width: 327px;
  height: 144px;
  left: 0px;
  top: 113px;
  
  /* Body / 2 */
  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  
  
  /* Neutrals/N600 */
  
  color: #344563;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.Self-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  position: static;
  width: 200px;
  height: 80px;
  left: 0px;
  top: 269px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0px;
}

.let {
  position: static;
  width: 147px;
  height: 24px;
  left: 0px;
  top: 0px;
  
  /* Body / 2 - Bolder */
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  
  /* Primary/B300 */
  
  color: #7F8CFF;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

.Self-icons {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px; */
  
  position: static;
  width: 200px;
  height: 40px;
  left: 0px;
  top: 40px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;background-color: #DFE1E6;
}

.Self-icons > ul {
  display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;list-style-type: none;
}

.submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  
  position: static;
  width: 199px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2 + 180.5px);
  
  /* Primary/B400 */
  
  border: 1px solid #6070FF;
  box-sizing: border-box;
  border-radius: 8px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0px;
}

.submit > button {
  position: static;
  width: 168px;
  height: 44px;
  left: 12px;
  top: 12px;
  
  /* Button /Normal */
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 14px;
  /* identical to box height, or 141% */
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  
  /* Primary/B500 */
  
  color: #396DF2;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  
  position: static;
  width: 327px;
  height: 464.15px;
  left: 24px;
  top: 547px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}

.Languages {
  display: grid;
  grid-template-columns: 303px;
  grid-template-rows: 68px 68px 68px 68px;
  margin-top: 80px;
  grid-gap: 30px;
}

.script {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  
  display: flex;
  align-items: center;
  background-color: rgba(247, 247, 249, 1);
  margin: 1px 10px;
  
  /* Neutrals/N700 */
  
  color: #253858;
}

.script > img {
  margin-right: 10px;
}

.frame {
  position: static;
  width: 327px;
  height: 42px;
  top: 320.15px;
  margin-left: 64px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.frame > p {
  margin-left: 23px;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  font-size: 23px;
}

.frame > img {
  margin-left: 24px;
  width: 300px;
}

.ski {
  font-family: 'Poppins', sans-serif;
  margin-top: 49px;
  margin-left: 23px;
}

.ski > img {
  margin-left: 20px;
}

.ski > p {
  margin-left: 23px;
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}